@charset "utf-8";
@media screen and (min-width: 1024px){


header{
  /* display: block; */
  width: 100%;
  height: 100px;;
  position: fixed;
  top:0;
  left:0%;
  z-index: 10;
}

.header_center{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  height: 100%;
  width: 88.281%;
  position: relative;
  /* background: blue; */
}
.h1_wrap{
  width: 7.8125%;
  height: 100%;
  text-indent: -9999px;
  margin-right: 0;
}
h1>a{
  width: 100%;
  height: 80px;
  display: block;
  background: url(../img/logo/tmlogowithe.png)no-repeat center/contain;
  position: absolute;;
  top:10px;
  left:50%;
  transform: translateX(-50%);
}
.header_btn{
  width:auto;
  margin-top: 30px;
}
.header_btn button{
  width:30px;
  height: 30px;;
  background: url(../img/icon/Menu.png)no-repeat center/cover;
  cursor: pointer;
}
.m_btn{
  display: none;
}
.header_btn>.m_account{
  position: absolute;
  right:0;
  top:25px;
  background: url(../img/icon/pngegg.png)no-repeat center/cover;
  margin-right: 0px;
  margin-left:0px;
}
nav{
  position: absolute;
  top:30px;
  left:0;
  width:39.06%;
  height: 100%;
  background: none;
  line-height: 1;
  
}
nav>button{
  width: 25px;
  height: 25px;
  background: url(../img/icon/Close.png)no-repeat center/cover;
  position: absolute;
  right:8.333%;
  top:15px;
  cursor: pointer;
  display: none;
}
.gnb_wrap{
  padding-left: 0px;
  font-size: 1.8rem;;
  
}
.gnb_wrap>h3{
  text-align: center;
  margin-top: 20px;;
  display: none;
}
.gnb{
  display: flex;
  width: 400px;;
  
}
.gnb>li{
  padding-top:0px;
}
.gnb>li a{
  color:#fff;
  margin-right:30px;
}
.gnb >li:nth-child(5){
  display: none;
}
  

.gnb button{
  width: 25px;
  height: 25px;;
  background:url(../img/icon/User.png)no-repeat center/cover;
  display: none;
}
.visual{
  position: relative;;
}
.visual_wrap{
  width: 100%;
}
.visual_img{
  width: 100%;;
  height: 800px;
  background: url(../img/mode33.png)no-repeat center/cover;
}

.visual_text{
  position: absolute;
  bottom: 125px;
  color:#fff;
  margin-left: 5.859%;
}
.visual_text h2{
  font-size: 5.2rem;
  padding-top: 20px;
  padding-bottom: 20px;
}
.visual_text>a{
  color:#fff;
  font-size: 1.4rem;
}
.visual_text_img:nth-child(2),.visual_text_img:nth-child(3),.visual_text_img:nth-child(4),.visual_text_img:nth-child(5){
  display: block;;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  margin-right: 30px;
}
.models{
  padding-top: 200px;
}
.models_wrap{
  width: 100%;
}
.models_text{
  margin-left: 5.859%;
}
.models_text>h2{
  font-size:4.2rem;
  font-weight: 400;
}
.models_text>p{
  font-size: 1.8rem;
  padding-top:50px;
  padding-bottom:45px;
  border-bottom: #000 solid 1px;
  line-height: 1.2;
}
.models_text>p>span{
  display: inline-block;
}
.cars_wrap{
  padding-top:100px;
  text-align: center;
  width: 88.28%;;
  padding-bottom: 130px;

}
.cars_box_wrap{
  display: flex;
  justify-content: space-between;
  width: 100%;;
  height: auto;
  border:none;
  margin:0 auto;
  margin-bottom: 160px; 
  /* overflow: hidden; */
  
}
.models_box{
  width:49% ;
  /* border:1px solid #000; */
}
.models_name{
  padding-top:30px;
}
.models_name h3{
  font-size:2.4rem;
  font-weight: 400;
}
.cars_img{
  width: 100%;
  height: auto;
  background: url(../img/cars/model33.png)no-repeat center/cover;
  margin:50px auto 0;
  padding-bottom: 50%;
}

.models_S{
  background:url(../img/cars/model_S-removebg-preview.png)no-repeat center/cover;
}
.models_X{
  background:url(../img/cars/model\ x.png)no-repeat center/cover;
}
.models_Y{
  background:url(../img/cars/modelY-removebg-preview.png)no-repeat center/contain;
  width: 90%;
}
.cyber_Truck{
  background:url(../img/cars/64138_157846_3443-removebg-preview\ -xx.png)no-repeat center/cover;
}

.models_box:nth-child(2){
  display: block;
}
.models_box:nth-child(3),.models_box:nth-child(4),.models_box:nth-child(5),.models_box:nth-child(6){
  display:block;
}
.cars_img:nth-child(2),.cars_img:nth-child(3),.cars_img:nth-child(4),.cars_img:nth-child(5){
  display:block;
}
.logo_re{
  display: block;
}
.spec_box{
  text-align: center;
  width: 100%;
}
.logo_re{
  display: none;
}
.models_spec{
  padding-top: 20px;
  width: 80%;
  margin: 0 auto;
}
.models_spec li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}
.line_box{
  border-bottom: 1px solid #000;
  width: 80%;
  margin: 55px auto 0;
}
.order_btn{
  display: flex;
  width:80%;
  font-size: 1.4rem;
  padding-top:50px;
  padding-bottom:50px;
  justify-content: space-between;
  margin: 0 auto;
}
.order_test,.order_order{
  border:solid #000 1px;
  width: 40%;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.order_test{
  background-color: #2c2b3a;
}
.order_test>a{
  color:#fff
}
.order_cyber{
  display: block;
  /* padding-top:64px; */
}

.tesla_box{
  width: 80%;
  height: auto;
  margin-top:170px;
  margin-bottom: 235px;
  background: url(../img/logo/pngwing.com.png)no-repeat center/contain
  ;
}
.line_cyber{
  margin-top:69px
}
.category{
  width: 100%;
  margin: 0 auto;
  padding-top: 150px;
}
.category_wrap{
  width: 88.28%;
  display: flex;
  margin: 0 auto;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.category_wrap a{
  display: block;
  background:  #fcfcfc;
  width: 23%;
  height: 250px;
  /* border: 1px solid #000; */
  position: relative;
}
.category_wrap a:nth-child(1),.category_wrap a:nth-child(3){
  margin-right: 0px;
}
.category_wrap a:nth-child(1),.category_wrap a:nth-child(2){
  margin-bottom: 0%;
}
.car_icon{
  background: url(../img/icon/Steering\ Wheel.png)no-repeat center/cover;
  width: 50px;
  height: 50px;
  margin: 10px 0 0 10px;
}
.quote_icon{
  background: url(../img/icon/Car.png)no-repeat center/cover;
  width: 50px;
  height: 50px;
  margin: 10px 0 0 10px;
}
.coun_icon{
  background: url(../img/icon/Headset.png)no-repeat center/cover;
  width: 50px;
  height: 50px;
  margin: 10px 0 0 10px;
}
.event_icon{
  background: url(../img/icon/Gift.png)no-repeat center/cover;
  width: 50px;
  height: 50px;
  margin: 10px 0 0 10px;
}
.act{
  display: none;
}
.category_wrap span , .category_wrap p{
  font-size: 1.6rem;
}
.cate_text{
  margin: 10px 0 0 10px;
}
.category_wrap p{
  position: absolute;
  bottom:10px;
  right: 10px;
}
.changing{
  padding-top:200px;
}
.changing_text{
  margin-left:5.86%;;
}
.changing_text  h2{
  font-size: 4.2rem;;
  margin-bottom: 50px;
}
.changing_text  p{
  font-size: 1.8rem;;
  padding-bottom: 50px;
  border-bottom: 1px solid #000;
  line-height: 1.3;
}
.changing_text  span{
  display:inline-block;
}
.changing_it{
  width: 100%;
}
.changing_img_box{
  width: 73.242%;
  margin: 0 auto;
}
.changing_img1{
  background: url(../img/Rectangle.png)no-repeat center/cover;
  width: 100%;
  height: 500px;
  margin:125px auto 0px;
}
.changing_btn_box{
  display: flex;
  justify-content: space-between;
  width: 73.242%;;
  margin: 0 auto;
  padding-top:50px; 
  background-color: #fff;
  padding-bottom: 70px;
}
.changing_btn_box button:nth-child(1),.changing_btn_box button:nth-child(3){
  display: block;
}
.text_btn{
  width: 30%;
  height: 68px;;
  margin: 0;
  font-size: 2rem;
  border-top: 1px solid #000;
  color: #000;
  text-align: left;
}
.btn_title{
  margin: 20px 0 50px 0;
}
.btn_text {
  font-size:1.6rem; 
  color:#000;
}
.changing_sub{
  width: 88.28%;
  padding-top:175px;
  display: flex;
  justify-content: space-between;
  margin:0 auto;
}
.changing_sub a{
 font-size: 1.4rem;
 text-align: left;
}
.eco{
  text-align: center;
  width: 26.777%;
}
.eco_img{
  width: 100%;
  height: 150px;
  background: url(../img/providing-ecosystem-desktop.jpg)no-repeat center/contain;
  margin: 0 auto 50px;;
  padding:50px; 
}
.eco_text{
  margin: 0 auto;
  width: 100%;
  text-align: left;
}
.text_title{
  border-top:1px solid #000;
  font-size:1.8rem;
  padding-top:30px;
  margin-bottom: 20px;
}
.eco_text>p{
  display: block;
  font-size: 1.6rem;
  padding-bottom: 20px;
  line-height: 1.3;
}
.waste{
  text-align: center;
  margin-top: 0px;;
  width: 26.777%;
}
.waste_img{
  width: 100%;
  height: 150px;
  background: url(../img/water-waste-desktop.jpg)no-repeat center/cover;
  margin: 0 auto 50px;;
  padding:50px; 
}
.waste_text{
  margin: 0 auto;
  width: 100%;
  text-align: left;
}
.waste_text>p{
  display:block;
  font-size: 1.6rem;
  padding-bottom: 20px;
  line-height: 1.3;
}
.elec{
  width: 26.777%;
  text-align: center;
  margin-top: 0px;;
}
.elec_img{
  width: 100%;
  height: 150px;
  background: url(../img/ev-efficiency-gallery-desktop_11zon.jpg)no-repeat center/cover;
  margin: 0 auto 50px;;
  padding:50px; 
}
.elec_text{
  margin: 0 auto;
  width: 100%;
  text-align: left;
}
.elec_text>p{
  display:block;
  font-size: 1.6rem;
  padding-bottom: 20px;
  line-height: 1.3;
}

.latest{
  padding-top:200px;
}
.latest_wrap{
  position: relative;
}
.latest_text{
  margin-left:5.86%;
  font-size:1.6rem;
}
.latest_text span{
  display: inline-block;
}
.latest_text h2{
  font-size:4.2rem;
}
.latest_text p{
  padding: 50px 0 50px 0;
  border-bottom:1px solid #000;
  line-height: 1.2;
  font-size: 1.8rem;
}

.detail_wrap .swiper-pagination{
  display: none;
}

.detail_imtext{
  padding-top: 100px;
  width: 86.98%;
  margin: 0 auto;
}
.detail_img{
  margin: 0 auto;;
  width: 28.125%;
  height: 450px;;
  background: url(../img/btn/hardware.png)no-repeat center/cover;
}
.bot_img{
  background: url(../img/Tesla-Bot-AI2.png)no-repeat center/cover;
}
.dojo_img{
  background: url(../img/btn/dojo-chip.png)no-repeat center/cover;
}
.study_img{
  background: url(../img/btn/algorithms.png)no-repeat center/cover;
}
.infra_img{
  background: url(../img/btn/infrastructure.png)no-repeat center/cover;
}
.detail_text{
  padding-top:0px;
  text-align: left;
  width: 28.125%;
  position: absolute;
  top:150px;
}

.detail_text h4{
  font-size:3rem;
  margin-bottom: 35px;;
  line-height: 1.2;
}
.detail_text p{
  font-size:1.6rem;
  line-height: 1.2;
}
.detail_text p:nth-child(2){
  font-size: 1.8rem;
}
.detail_text span{
  display:inline-block;
}
.detail_awrap{
  display: block;
  position: absolute;
  right: 5.85%;
  top:200px;
  font-weight: bold;
  width: 20.6%;
  z-index: 10;
}
.detail_awrap>a{
  font-size:2rem;
}
.detail_awrap div{
  border-bottom: 1px solid #000;
  padding:20px 0 20px 0;
}
.full div{
  padding-top: 0;
}
.full span{
  display: block;
}
.detail_imtext:nth-child(2),.detail_imtext:nth-child(3),.detail_imtext:nth-child(4),.detail_imtext:nth-child(5){
  display:block;
}
.detail_awrap >.swiper-pagination-current::after{
  content: '';
}
  

.contents{
  padding-top:200px;
}
.contents_text{
  margin-left: 5.85%;
}
.contents_text>h4{
  font-size: 4.2rem;
}
.contents_text>p{
  font-size: 1.8rem;
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #000;
}
.contents_box{
  display: flex;
  justify-content: space-between;
  width: 86.98%;
  margin: 0 auto;
}
.contents_event,.contents_cunstomer,.contents_charger{
  width: 32%;;
}
.contents_img{
  width: 100%;
  margin-top: 150px;
  height: 178px;;
  background: url(../img/carnu/Supercharger-Savings-Hero-Desktop-NA_11zon.jpg)no-repeat center/cover;
}
.contents_detail_text>h4{
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 1.8rem;
}
.contents_detail_text>p{
  display: block;
  font-size: 1.8rem;
  padding-bottom: 30px;
  line-height: 1.2;
}
.contents_detail_text>a{
  font-size: 1.4rem;
  text-decoration: underline;

}
.contents_cunstomer,.contents_charger{
  display: block;
  
}
footer{
  background: #f2f2f2;
  margin-top: 150px;
  padding-top: 50px;
}
.footer_wrap{
  width: 86.98%;;
  margin: 0 auto;
}
.footer_logo{
  margin: 0 auto;
  width: 26%;
  height: 70px;
  margin-bottom: 50px;
  background: url(../img/logo/logo.png)no-repeat center/cover;
}
.footer_line{
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid #000;
}
.leri_box{
  display: flex;
  justify-content: space-between;
}
.footer_left{
  margin: 0;
  width: 60.93%;
  padding-top: 30px;
}
.left_box p{
  font-size: 1.4rem;
  line-height: 1.5;
}
.left_box span{
  display: inline;
}

.footer_right{
  font-size: 1.4rem;
  width: 46.875%;
  margin: 0;
  padding-top:30px;
  
}
.tesla_news{
  text-align: center;
  text-align: right;
}
.tesla_news p{
  text-align: right;
  padding-bottom: 30px;
}
.tesla_news a{
  padding:7px 25px 7px 25px;
  border: 1px solid #000;
}
}