@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header_center {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 83.33%;
  margin: 0 auto;
  /* background: blue; */
}
.h1_wrap {
  width: 25%;
  height: 100%;
  text-indent: -9999px;
  margin-right: auto;
}
h1 > a {
  width: 90px;
  height: 50px;
  display: block;
  background: url(../img/logo/pngwing.com.png) no-repeat center/contain;
}
.header_btn {
  margin-top: 13px;
}
.header_btn button {
  width: 25px;
  height: 25px;
  background: url(../img/icon/Menu.png) no-repeat center/cover;
  cursor: pointer;
}
.header_btn > .m_account {
  background: url(../img/icon/pngegg.png) no-repeat center/cover;
  /* margin-right: 10px; */
}
.header_btn > .m_account_act {
  background: url(../img/icon/acountact.png) no-repeat center/cover;
  /* margin-right: 10px; */
}
.header_btn > .m_btn_act {
  background: url(../img/icon/menuact.png) no-repeat center/cover;
  margin-left: 10px;
}
.m_btn {
  margin-left: 10px;
}
nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #efefef;
  /* position: relative; */
}
nav > button {
  width: 25px;
  height: 25px;
  background: url(../img/icon/Close.png) no-repeat center/cover;
  position: absolute;
  right: 8.333%;
  top: 15px;
  cursor: pointer;
}
.gnb_wrap {
  padding-left: 30px;
  font-size: 1.8rem;
}
.gnb_wrap > h3 {
  text-align: center;
  margin-top: 20px;
}
.gnb > li {
  padding-top: 50px;
}
.gnb button {
  width: 25px;
  height: 25px;
  background: url(../img/icon/User.png) no-repeat center/cover;
}
.visual {
  position: relative;
}
.visual_wrap {
  width: 100%;

}
.visual_img {
  width: 100%;
  height: 450px;
  background: url(../img/mode33.png) no-repeat center/cover;
}
.visual_text_img:nth-of-type(2) .visual_img {
  background: url(../img/big_car/models.png) no-repeat center/cover;
}
.visual_text_img:nth-of-type(3) .visual_img {
  background: url(../img/big_car/Model-X-Main-Hero-Desktop.png) no-repeat
    center/cover;
}
.visual_text_img:nth-of-type(4) .visual_img {
  background: url(../img/big_car/modely.png) no-repeat center/cover;
}
.visual_text_img:nth-of-type(5) .visual_img {
  background: url(../img/big_car/tesla_cybertruck_suv-wallpaper-1920x1080.jpg) no-repeat center/cover;
}
.visual_text {
  position: absolute;
  bottom: 60px;
  color:#ffffff;
  margin-left: 8.3333%;
}
.visual_text h2 {
  font-size: 3.2rem;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 20px;
}
.visual_text > a {
  color: #fff;
  font-size: 1.4rem;
}
.visual_text > p {
  font-size: 1.6rem;
}
.visual_text_img:nth-child(2),
.visual_text_img:nth-child(3),
.visual_text_img:nth-child(4),
.visual_text_img:nth-child(5) {
  display: block;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin-right: 10px;
}
.swiper-pagination-bullet {
  background-color: #595959;
  width: 10px;
  height: 10px;
}
.swiper-pagination-bullet-active {
  background-color: #fff;
}
.swiper-pagination-horizontal {
  margin-bottom:20px;
}
.models {
  padding-top: 180px;
}
.models_wrap {
  width: 100%;
}
.models_text {
  /* font-size: 3.2rem; */
  margin-left: 8.33%;
}
.models_text > h2 {
  font-size: 3.2rem;
  font-weight: 400;
}
.models_text > p {
  font-size: 1.6rem;
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: #000 solid 1px;
  line-height: 1.2;
}
.models_text > p > span {
  display: block;
}
.cars_wrap {
  padding-top: 120px;
  text-align: center;
}
.cars_box_wrap {
  width: 83.333%;
  height: auto;
  /* border:1px solid #000; */
  margin: 0 auto;
  margin-bottom: 160px;
}
.models_name {
  padding-top: 20px;
}
.models_name h3 {
  font-size: 2.4rem;
  font-weight: 400;
}
.cars_img {
  width: 100%;
  height: auto;
  background: url(../img/cars/model33.png) no-repeat center/cover;
  margin: 50px auto 0;
  padding-bottom: 50%;
}
.models_S {
  background: url(../img/cars/model_S-removebg-preview.png) no-repeat
    center/cover;
}
.models_X {
  background: url(../img/cars/model\ x.png) no-repeat center/cover;
}
.models_Y {
  background: url(../img/cars/modelY-removebg-preview.png) no-repeat
    center/contain;
  width: 95%;
}
.cyber_Truck {
  background: url(../img/cars/64138_157846_3443-removebg-preview.png) no-repeat
    center/cover;
}
.tesla_box {
  background: url(../img/logo/pngwing.com.png) no-repeat center/contain;
  margin: 187px auto 190px;
}
.models_box:nth-child(2),
.models_box:nth-child(3),
.models_box:nth-child(4),
.models_box:nth-child(5) {
  display: block;
}
.cars_img:nth-child(2),
.cars_img:nth-child(3),
.cars_img:nth-child(4),
.cars_img:nth-child(5) {
  display: block;
}
.spec_box {
  text-align: center;
  width: 83.33%;
  border: 1px solid #000;
}
.models_spec {
  width: 80%;
  margin: 0 auto;
}
.models_spec li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}
.line_box {
  border-bottom: 1px solid #000;
  width: 80%;
  margin: 55px auto 0;
}
.order_btn {
  display: flex;
  width: 80%;
  font-size: 1.4rem;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-between;
  margin: 0 auto;
}
.order_btn a {
  width: 100%;
  display: block;
}
.order_test,
.order_order {
  border: solid #000 1px;
  width: 45%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  position: relative;
}
.order_test {
  background-color: #2c2b3a;
}
.order_test > a {
  color: #fff;
}
.order_cyber {
  display: block;
  padding-top: 65px;
}
.cyber_a {
  margin: 0 auto;
}
.cars_wrap .swiper-pagination-bullet-active {
  background-color: #000;
}
.category {
  width: 100%;
}
.category_wrap {
  width: 83.333%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}
.category_wrap a {
  display: block;
  background: #fcfcfc;
  width: 45%;
  height: 170px;
  /* border: 1px solid #000; */
  position: relative;
}
.category_wrap a:nth-child(1),
.category_wrap a:nth-child(2) {
  margin-bottom: 12px;
}
.category_wrap a:nth-child(7) {
  margin-right: 3.3%;
}
.car_icon {
  background: url(../img/icon/Steering\ Wheel.png) no-repeat center/cover;
  width: 35px;
  height: 40px;
  margin: 15px 0 0 15px;
}
.quote_icon {
  background: url(../img/icon/Car.png) no-repeat center/cover;
  width: 35px;
  height: 40px;
  margin: 15px 0 0 15px;
}
.coun_icon {
  background: url(../img/icon/Headset.png) no-repeat center/cover;
  width: 35px;
  height: 40px;
  margin: 15px 0 0 15px;
}
.event_icon {
  background: url(../img/icon/Gift.png) no-repeat center/cover;
  width: 35px;
  height: 40px;
  margin: 15px 0 0 15px;
}
.act {
  display: none;
}
.category_wrap span,
.category_wrap p {
  font-size: 1.6rem;
}
.cate_text {
  margin: 15px 0 0 15px;
}
.category_wrap p {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.changing {
  padding-top: 150px;
}
.changing_text {
  margin-left: 8.33%;
}
.changing_text h2 {
  font-size: 3.2rem;
  margin-bottom: 20px;
  font-weight: 400;
}
.changing_text p {
  font-size: 1.4rem;
  padding-bottom: 25px;
  border-bottom: 1px solid #000;
  line-height: 1.3;
}
.changing_text span {
  display: block;
}
.changing_img {
  background: url(../img/Rectangle.png) no-repeat center/cover;
  width: 83.333%;
  height: 350px;
  margin: 65px auto 0px;
  transition: 0.3s ease;
}
.chbatt {
  background: url(../img/About-Us-Power-Battery-Desktop-Global.jpg) no-repeat
    center/cover;
}
.chsun {
  background: url(../img/About-Us-Power-Solar-Desktop-Global.jpg) no-repeat
    center/cover;
}
/* .changing_img:nth-child(2),.changing_img:nth-child(3){
  display: none;
} */
.changing_img {
  display: none;
}
.changing_img.active {
  display: block;
}
.changing_btn_wrap {
  width: 100%;
}
.changing_btn_box {
  display: flex;
  width: 50%;
  padding-top: 40px;
  background-color: #fff;
  margin: 0 auto;
  padding-bottom: 30px;
}
.changing_btn_box button:nth-child(1),
.changing_btn_box button:nth-child(3) {
  display: block;
}
/* .btn_line{
  width: 50%;
  border-top:1px solid #000;
} */
.text_btn {
  width: 61.666%;
  height: 68px;
  margin: 0 auto;
  font-size: 1.8rem;
  border-top: 1px solid #000;
  color: #000;
  text-align: left;
}
.btn_title {
  margin: 10px 0 20px 0;
}
.btn_text {
  font-size: 1.6rem;
}
.changing_sub {
  padding-top: 70px;
}
.changing_sub a {
  font-size: 1.4rem;
}
.eco {
  text-align: center;
}
.eco_img {
  width: 83.333%;
  height: 150px;
  background: url(../img/providing-ecosystem-desktop.jpg) no-repeat center/cover;
  margin: 0 auto 50px;
  padding: 50px;
  border: 1px solid #ddd;
  background-size: contain;
}
.eco_text {
  margin: 0 auto;
  width: 83.333%;
}
.text_title {
  border-top: 1px solid #000;
  font-size: 1.8rem;
  padding-top: 30px;
  margin-bottom: 20px;
}
.eco_text > p {
  display: none;
}
.waste {
  text-align: center;
  margin-top: 50px;
}
.waste_img {
  width: 83.333%;
  height: 150px;
  background: url(../img/water-waste-desktop.jpg) no-repeat center/cover;
  margin: 0 auto 50px;
  padding: 50px;
}
.waste_text {
  margin: 0 auto;
  width: 83.333%;
}
.waste_text > p {
  display: none;
}
.elec {
  text-align: center;
  margin-top: 50px;
}
.elec_img {
  width: 83.333%;
  height: 150px;
  background: url(../img/ev-efficiency-gallery-desktop_11zon.jpg) no-repeat
    center/cover;
  margin: 0 auto 50px;
  padding: 50px;
}
.elec_text {
  margin: 0 auto;
  width: 83.333%;
}
.elec_text > p {
  display: none;
}
.latest {
  padding-top: 150px;
}
.latest_text {
  margin-left: 8.33%;
}
.latest_text > span {
  display: block;
}
.latest_text h2 {
  font-size: 3.2rem;
  font-weight: 400;
}
.latest_text p {
  padding: 20px 0 24px 0;
  border-bottom: 1px solid #000;
  line-height: 1.2;
  font-size: 1.4rem;
}

.detail_imtext {
  padding-top: 45px;
  width: 83.333%;
  margin: 0 auto;
}
.detail_img {
  margin: 0 auto;
  width: 100%;
  height: 400px;
  background: url(../img/btn/hardware.png) no-repeat center/cover;
}
.bot_img {
  background: url(../img/Tesla-Bot-AI.png) no-repeat center/cover;
}
.dojo_img {
  background: url(../img/btn/dojo-chip.png) no-repeat center/cover;
}
.study_img {
  background: url(../img/btn/algorithms.png) no-repeat center/cover;
}
.infra_img {
  background: url(../img/btn/infrastructure.png) no-repeat center/cover;
}
.detail_text {
  padding-top: 30px;
  text-align: left;
}
.detail_text h4 {
  font-size: 3rem;
  margin-bottom: 60px;
  line-height: 1.2;
}
.detail_text p {
  font-size: 1.6rem;
  line-height: 1.2;
}
.detail_text p:nth-child(2) {
  font-size: 1.6rem;
  line-height: 1.2;
  margin-bottom: 20px;
}
.detail_text span {
  display: block;
}
.detail_box {
  width: 83.33%;
  padding-bottom: 150px;
  margin: 0 auto;
}
.detail_awrap {
  display: none;
}
.detail_size {
  width: 83.33%;
}
.detail_wrap .swiper-pagination-horizontal {
  bottom: -20px;
  color: #000;
}
.detail_wrap .swiper-pagination {
  font-size: 1.8rem;
}
.contents {
  padding-top: 150px;
}
.contents_wrap {
  height: auto;
  padding-bottom: 100px;
}
.contents_wrap > .swiper-pagination-horizontal {
  margin-bottom: 40px;
}
.contents_wrap > .swiper-pagination-bullets > .swiper-pagination-bullet-active {
  background-color: #000;
}
.contents_text {
  margin-left: 8.33%;
}
.contents_text > h4 {
  font-size: 3.2rem;
  font-weight: 400;
}
.contents_text > p {
  font-size: 1.4rem;
  margin-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #000;
}
.contents_box {
  width: 83.333%;
  margin: 0 auto;
}
.contents_img {
  width: 83.333%;
  margin-top: 50px;
  height: 200px;
  background: url(../img/carnu/Supercharger-Savings-Hero-Desktop-NA_11zon.jpg)
    no-repeat center/cover;
}
.contents_event > .contents_img {
  background: url(../img/TeslaStoryModelX-3b_11zon.jpg) no-repeat center/cover;
}
.contents_cunstomer > .contents_img {
  background: url(../img/kr-customer-stories-vehicle-that-has-everything-i-want-3_11zon.jpg)
    no-repeat center/cover;
}
.contents_detail_text > h4 {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 1.8rem;
}
.contents_detail_text > p {
  display: none;
}
.contents_detail_text > a {
  font-size: 1.4rem;
  text-decoration: underline;
}
.contents_cunstomer,
.contents_charger {
  display: block;
}
.contents_box a::after {
  content: " >";
}
footer {
  background: #f2f2f2;
  margin-top: 100px;
  padding-bottom: 100px;
}
.footer_logo {
  margin: 0 auto;
  width: 100px;
  height: 70px;
  background: url(../img/logo/logo.png) no-repeat center/contain;
}
.footer_line {
  margin: 0 auto;
  width: 83.333%;
  border-bottom: 1px solid #000;
}
.footer_left {
  margin: 0 auto;
  width: 83.333%;
  padding-top: 50px;
}
.left_box p {
  font-size: 1.4rem;
  line-height: 1.5;
}
.left_box p:nth-child(2) {
  margin-top: 30px;
}
.left_box span {
  display: block;
}
.footer_right {
  font-size: 1.4rem;
  width: 83.333%;
  margin: 0 auto;
  padding-top: 30px;
}
.tesla_news {
  text-align: center;
}
.tesla_news p {
  text-align: left;
  padding-bottom: 30px;
}
.tesla_news a {
  padding: 7px 35px 7px 35px;
  border: 1px solid #000;
  font-size: 1.6rem;
}




.animateBtop_box {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease 0.5s;
}
.animateTopb_box {
  opacity: 0;
  transform: translateY(-50px);

}
.animateRL_box {
  opacity: 0;
  transform: translateX(50px);

}



.animateLR_box {
  opacity: 0;
  transform: translateX(-50px);

}




.animateRL_box.visible,
.animateLR_box.visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.8s ease;
}
.animateBtop_box.visible,
.animateTopb_box.visible {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.8s ease;
}
